<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</strong>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo, "Photo" %><br>
    <%= f.file_field :photo %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-default" %>
  </div>
<% end %>
